---
const { tag } = Astro.props;
---
<div class="tag">
    <a href={`/tags/${tag}`}>{tag}</a>
</div>

<style>
    .tag {
        display: inline-block;
        background-color: lightgrey;
        border-radius: 10px;
        border: 2px solid grey;
        margin: 5px;
    }

    .tag:hover {
        background-color: grey;
        color: white;
    }

    a {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        font-family: Arial, sans-serif;
        height: 1.5rem;
        width: auto;
        color: black;
        margin: 0;
        padding: 0px 5px;
    }

    .tag a:hover{
        color: white;
    }
</style>