---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout>
    <h1>Posts Page</h1>
    <p>This is the posts page of Izumi_Blog. Here you can find a list of all blog posts.</p>
    <p>Stay tuned for more content!</p>
    <ul>
        <li><a href="/posts/post1">Post 1</a></li>
        <li><a href="/posts/post2">Post 2</a></li>
        <li><a href="/posts/post3">Post 3</a></li>
    </ul>
</BaseLayout>