---
const { url } = Astro.props;
---

<div class="nav_item">
    <a href={url.href}>{url.text}</a>
</div>

<style>
    .nav_item {
        display: inline-block;
        color: black;
        margin: 0;
        height: 100%;
    }
    .nav_item a {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-family: Arial, sans-serif;
        width: 6rem;
        height: inherit;
        line-height: 100%;;
        color: inherit;
        margin: 0;
    }
    .nav_item a:hover{
        background-color: darkblue;
        color: white
    }
</style>
