---
--- 
<div class="content">
    <slot />
</div>

<style>
    .content {
        display: block;
        background: rgba(128, 128, 128, 0.4);
        border: 3px solid grey;
        border-radius: 20px;
        padding: 10px;
        min-height: 85%;
        margin-left: 5px;
        margin-right: 5px;
    }

    .pageTitle {
        text-align: center;
    }
</style>