---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagMenu from "../../components/tagMenu/TagMenu.astro";
import PostDisplayer from "../../components/postDisplayer/postDisplayer.astro"
import "../../style/global_conf.css";

const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
---
<BaseLayout>
  <TagMenu all="/blog" tags={ tags } />
  <h1>All Posts</h1>
  <PostDisplayer posts= { allPosts } />
</BaseLayout>