---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../style/global_conf.css";
---
<BaseLayout>
    <h1>About Page</h1>
    <p>This is the about page of Izumi_Blog. Here you can find more information about the blog and its purpose.</p>
    <p>Izumi_Blog is dedicated to sharing insights, tutorials, and discussions on various topics related to web development and technology.</p>
</BaseLayout>