---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../style/global_conf.css";
---

<BaseLayout>
    <h1>About</h1>
    <h2>Izumi Blog</h2>
    <p>
        Izumi Blog is a personal blog developed by Izumi, focusing on sharing
        knowledge and experiences in various fields. The blog aims to provide
        insightful content, tutorials, and discussions on topics ranging from
        technology to lifestyle.
    </p>
    <p>
        This blog is built using Astro, a modern static site generator that allows for fast and efficient web development.
    </p>
    <h2>
        Izumi
    </h2>
</BaseLayout>
