---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../style/global_conf.css";
---
<BaseLayout>
    <h1>Contact Page</h1>
    <p>This is the contact page of Izumi_Blog. If you have any questions or feedback, feel free to reach out!</p>
    <p>You can contact us via email at <a href="mailto:contact@izumi_blog.com">contact@izumi_blog.com</a>.</p>
</BaseLayout>