---
import TagItem from "./tagItem/TagItem.astro";

const { all, tags } = Astro.props;
---
<div class="tagMenu">
    <TagItem href={ all } text="all"/>
    {
        tags.map((tag: any) => (
            <div class="line"></div>
            <TagItem href={`/Izumi_Blog/tags/${tag}`} text={tag} />
        ))
    }
</div>

<style>
    .tagMenu {
        display: inline-flex;
        width: 100%;
        height: auto;
        margin: 0;
        font-size: 0;
        justify-content: center;
    }
    
    .tagMenu .line {
        height: inherit;
        width: 0.5px;
        background-color: black;
    }
</style>