---
import Navigation from "./navigation/Navigation.astro";
const { urls } = Astro.props;
---
<div class="header">
    <Navigation urls={ urls } />
</div>

<style>
    .header{
        margin-bottom: 6px;
        height: 5%;
    }
</style>