html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    
}

h1{
    font-size: 2em;
    text-align: center;
    color: black;
}
