---
import LinkButton from "./LinkButton.astro";
---
<div class="footer">
    <LinkButton href="/contact" text="Contact Me" />
</div>

<style>
    .footer{
        position:absolute;
        bottom:0;
        height:5%;
        width: 100%;
        background-color:gray;
        
    }
</style>