---
const { url } = Astro.props;
---

<div class="link_button">
    <a href={url.href}>{url.text}</a>
</div>

<style>
    .link_button {
        display: inline-flex;
        background-color: violet;
        border-radius: 10px;
        border: 2px solid purple;
    }

    .link_button:hover {
        background-color: mediumvioletred;
        color: white;
    }

    .link_button a {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        font-family: Arial, sans-serif;
        height: 1.5rem;
        min-width: 4rem;
        color: black;
        margin: 0;
        padding: 2px;
    }

    .link_button a:hover {
        color: white;
    }
</style>
