---
import TagItem from "./TagItem.astro";

const { tags } = Astro.props;
---
<div class="tagMenu">
    {
        tags.map((tag: any) => (
            <TagItem href={`/tags/${tag}`} text={tag} />
        ))
    }
</div>

<style>
    .tagMenu {
        display: inline-flex;
        width: 100%;
        height: auto;
        margin: 0;
        font-size: 0;
        justify-content: center;
    }
</style>