---
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import Content from "../components/content/Content.astro";
import "../style/global_conf.css"

const tabTitle = "Izumi_Blog"
const pageUrls = [
	{ href: "/", text: "Home" },
	{ href: "/blog", text: "Blog" },
	{ href: "/about", text: "About" },
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ tabTitle }</title>
	</head>
	<body>
		<Header urls={ pageUrls } />
		<Content>
			<slot />
		</Content>
		<Footer />
	</body>
</html>
