---
import BaseLayout from "./BaseLayout.astro";
import PostLink from "../components/PostLink.astro";

const allPosts = Object.values(import.meta.glob('./*.md', { eager: true }));
const description = "Test for description";
---
<BaseLayout>
    <h1>Posts Page</h1>
    {allPosts.map((post: any) => <PostLink postUrl={post.url} postTitle={post.frontmatter.title} description={post.frontmatter.description ? post.frontmatter.description : "No Description Yet"}/>)}
</BaseLayout>