---
import BaseLayout from "./BaseLayout.astro";
import LinkButton from "../components/basic/LinkButton.astro";
import Preface from "../components/basic/Preface.astro";

const { frontmatter } = Astro.props;
const backUrl = { href:"/posts", text:"Back to Posts" }
---
<BaseLayout>
    <div class="postHeader">
        <LinkButton url={backUrl} />
    </div>
    <h1 class="postTitle">{ frontmatter.title }</h1>
    <Preface class="preface">
        { frontmatter.author ? <p>Written by { frontmatter.author }</p> : <p>Author not specified</p> }
        { frontmatter.pubDate ? <p>Published on { frontmatter.pubDate.toString().slice(0,10 )}</p> : <p>No publication date</p>}
        { frontmatter.description ? <p>Description: { frontmatter.description }</p> : <p>No description available</p> }
    </Preface>
    <slot />
</BaseLayout>

<style>
    .postHeader{
        display: flex;
        justify-content: center;
    }
    .postTitle {
        text-align: center;
    }
</style>