---
const { href, text } = Astro.props;
---
<div class="tagItem">
    <a href={ href }>{ text }</a>
</div>

<style>
    .tagItem{
        display: inline-flex;
        height: 100%;
        width: auto;
        margin: 0;
    }
    .tagItem a{
        color: black;
        display: inline-flex;
        align-items: center;
        justify-items: center;
        text-decoration: none;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
        padding: 5px;
        height: 1rem;
        min-width: 3rem;
    }
    .tagItem a:hover{
        background-color: grey;
        color: white;
    }
    .tagItem a:active{
        background-color: black;
        color: white;
    }
</style>